<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<head th:include="wechat/front/public/public_css::pub_css"></head>
<body ontouchstart class="page-bg">

	<div th:replace="wechat/front/public/public::top"></div>

	<div class="weui-weixin-info" style="margin-top: 10px;">
		<span class="weui-weixin-em">欢迎您登陆：</span>
		<em class="weui-weixin-em" th:text="|${teacher.name} 老师|"></em> 
		
		
		  <a style="float: right;" class="weui-weixin-a weui-weixin-nickname" th:href="@{/wechat/teacher/unbinding}">解除绑定</a>
 
	</div>
	<div class="weui_grids" style="margin-top: 20px;">

		<a href="javascript:;" class="weui_grid js_grid">
			<div class="weui_grid_icon">
				<img th:src="@{/assets/weChatPage/images/icon_nav_article.png}"
					alt="">
			</div>
			<p class="weui_grid_label">通知</p>
		</a> 
		<a th:href="|@{/wechat/teacher/findleave}?id=${teacher.id}|" class="weui_grid js_grid" >
			<div class="weui_grid_icon">
				<img th:src="@{/assets/weChatPage/images/icon_nav_panel.png}" alt="">
			</div>
			<p class="weui_grid_label">查看学生请假</p>
		</a> 


	</div>



	<div th:replace="wechat/front/public/public::footer"></div>

</body>
</html>
