<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<head th:include="wechat/front/public/public_css::pub_css"></head>

<body ontouchstart class="page-bg">

	<div th:replace="wechat/front/public/public::top"></div>

	<div class="page-hd">
		<h1 class="page-hd-title">您的微信尚未绑定</h1>
		<p class="page-hd-desc">
			您需要先绑定在进行使用！登录之后请先修改您的密码<br />
		</p>
	</div>

	<form th:action="@{/wechat/toBinding}" id="regform" method="post">
		<div class="weui_cells weui_cells_form">
			<div class="weui_cell">
				<input type="hidden" id="openId" name="openId">
				<div class="weui_cell_hd">
					<label class="weui_label">账号</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="text" name="account" id="account"
						required placeholder="输入登陆账号" emptyTips="请输入登陆账号">
				</div>
				<div class="weui_cell_ft">
					<i class="weui_icon_warn"></i>
				</div>
			</div>

			<div class="weui_cell">
				<div class="weui_cell_hd">
					<label class="weui_label">密码</label>
				</div>
				<div class="weui_cell_bd weui_cell_primary">
					<input class="weui_input" type="password" required name="password"
						id="password" placeholder="请输入密码" emptyTips="请输入密码">
				</div>
				<div class="weui_cell_ft">
					<i class="weui_icon_warn"></i>
				</div>
			</div>

		</div>
		<div class="weui_btn_area">
			<a id="formSubmitBtn" href="javascript:"
				class="weui_btn weui_btn_primary">登陆</a>
		</div>
	</form>
	<div th:replace="wechat/front/public/public::footer"></div>

	<script>
		var $form = $("#regform");
		$form.form();
		$("#formSubmitBtn").on(
				"click",
				function() {
					$form.validate(function(error) {
						if (error) {
						} else {
							var account = $("#account").val();
							var password = $("#password").val();
							var clazzId = $("#clazz option:selected").val();
							var openId = $("#openId").val();
							$.ajax({
								url : "toBinding",
								type : "get",
								data : "openId=" + openId + "&account="
										+ account + "&password=" + password
										+ "&clazzId=" + clazzId + "&code="
										+ getQueryString("code"),
								dataType : 'json',
								success : function(data) {
									if (data.status == 200) {
										$.toptips(data.msg, 'ok');
										window.location.href = "index";
									} else {
										$("#openId").val(data.data)
										$.toptips(data.msg, 'warning');
									}
								},
							});
						}
					});

				});

		function getQueryString(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}
	</script>






	<!-- <script>
		function showmark() {
			$('.weui_mask').addClass('weui_mask_visible');
			$('.weui-custom-pop').addClass('weui-dialog-visible');
		}
		function hidemark() {
			$('.weui_mask').removeClass('weui_mask_visible');
			$('.weui-custom-pop').removeClass('weui-dialog-visible');
		}

		function formSubmit() {
			var account = $("#account").val();
			var password = $("#password").val();
			$("#submit").attr("readonly",true);
			if (account != "" && password != "") {
				$.ajax({
					url : "teacher/toBinding",
					type : "post",
					data : "account=" + account + "&password=" + password
							+ "&code=" + getQueryString("code"),
					success : function(data) {
						if (data.status == 200) {
							alert(data.msg)
							window.location.href = "teacher/weChatAuth";
						}else{
							alert(data.msg);
							$("#submit").attr("readonly",false);
						}
					},
				});
			} else {
				alert("帐号，或密码不能为空");
				$("#submit").attr("readonly",false);
			}
		}

	
	</script> -->

</body>
</html>
