<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
body, html, #allmap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0;
	font-family: "微软雅黑";
}
</style>
<script type="text/javascript"
	src="http://api.map.baidu.com/api?v=2.0&ak=UZVKE0KapD4QSXPlmAEspmMp590TKvoh"></script>
<title>运动打卡行程</title>
</head>
<head th:include="wechat/front/public/public_css::pub_css"></head>

<body>
	<div th:replace="/wechat/front/public/public::sport"></div>



	<div class="page-hd">

		<div class="weui_cell weui_cell_select weui_select_after">
			<div class="weui_cell_hd">
				<label for="" class="weui_label">活动:</label>
			</div>
			<input type="hidden" th:value="${openId}" id="openId">
			<div class="weui_cell_bd weui_cell_primary">
				<select id="activityId" name="activitys.id" required="required"
					emptyTips="请选择活动进行打卡" class="weui_select"
					onchange="return findMaps()">
					<option value="">---请选择活动---</option>
					<option th:if="${activitys!=null}" th:value="${activity.id}"
						th:text="${activity.activityName}"
						th:selected="${sportsCarding!=null&&sportsCarding?.activitys!=null}?${sportsCarding?.activitys?.activityName}==${activity?.activityName}"
						th:each="activity:${activitys}">
				</select>
			</div>
		</div>
	</div>


	<div id="allmap"></div>

</body>
</html>

<script type="text/javascript">
	function findMaps() {
		var id = $("#activityId").val();
		var openId = $("#openId").val();
		$.ajax({
			type : 'POST',
			url : "findMap",
			data : "activityId=" + id + "&openId=" + openId,
			dataType : "json",
			success : function(data) {
				if (data.status == 200) {

					var map = new BMap.Map("allmap");
					var arr = new Array();
					var nowSite = null;
					var siteNum = null;
					$.each(data.data.sites, function(index, item) {

						arr[index] = new BMap.Point(item.x, item.y);

						if (data.data.site.id == item.id) {
							siteNum = index;
							nowSite = arr[index];
						}
					});

					var ways = arr.slice(0);//拷贝数组
					ways.pop(); //删除第一个
					ways.shift();//删除最后一个
					//百度地图API功能

					/* map.disableDragging();     //禁止拖拽
					 map.disableScrollWheelZoom();//禁止缩放 */

					//遍历data
					var top_left_control = new BMap.ScaleControl({
						anchor : BMAP_ANCHOR_TOP_LEFT
					});// 左上角，添加比例尺
					var top_left_navigation = new BMap.NavigationControl(); //左上角，添加默认缩放平移控件
					var top_right_navigation = new BMap.NavigationControl({
						anchor : BMAP_ANCHOR_TOP_RIGHT,
						type : BMAP_NAVIGATION_CONTROL_SMALL
					}); //右上角，仅包含平移和缩放按钮
					/*缩放控件type有四种类型:
					 BMAP_NAVIGATION_CONTROL_SMALL：仅包含平移和缩放按钮；BMAP_NAVIGATION_CONTROL_PAN:仅包含平移按钮；BMAP_NAVIGATION_CONTROL_ZOOM：仅包含缩放按钮*/
					map.addControl(top_left_control);
					map.addControl(top_left_navigation);
					map.addControl(top_right_navigation);
					map.centerAndZoom(arr[0], 5);//创建初始地，并且设置显示级别

					//当前所在位置
					var marker = new BMap.Marker(nowSite); // 创建标注
					map.addOverlay(marker); // 将标注添加到地图中
					marker.setAnimation(BMAP_ANIMATION_BOUNCE); //跳动的动画 
					var label = new BMap.Label("通过大家的努力，我们已经到达了<b>"
							+ data.data.site.siteName + "</b>！", {
						offset : new BMap.Size(20, -10)
					});
					marker.setLabel(label);
					marker.setTop(true);

					var driving = new BMap.DrivingRoute(map, {
						renderOptions : {
							map : map,
							autoViewport : true
						}
					});

					driving.setSearchCompleteCallback(function() {
						var plan = driving.getResults().getPlan(0);
						for (var i = 0; i < siteNum; i++) {
							var pts = plan.getRoute(i).getPath();
							//重点在这   这个地方是关于修改颜色的
							var polyline = new BMap.Polyline(pts, {
								strokeColor : "GREEN",
								strokeWeight : 5,
								strokeOpacity : 1
							});
							map.addOverlay(polyline);
						}
					})

					driving.search(arr[0], arr[arr.length - 1], {
						waypoints : ways
					});//waypoints表示途经点

					// 编写自定义函数,创建标注  动态创建标注
					/* function addMarker(point,label){
					 var marker = new BMap.Marker(point);
					 map.addOverlay(marker);
					 marker.setLabel(label);
					 } */
					/* $.each(data.data, function(index, item) {
						 $(":checkbox[id='"+item.id+"']").prop("checked",true);
					}); */

				} else {
					alert(data.msg);
					return;
				}

			}
		});

	}
</script>










<script type="text/javascript">
	
</script>