<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
</head>
<head th:include="wechat/front/public/public_css::pub_css"></head>


<body ontouchstart class="page-bg">

	<div th:replace="/wechat/front/public/public::top"></div>

	
 <div class="weui_cells_title">当前微信绑定的所有学生信息</div>
        <div class="weui_cells weui_cells_access">

           <input name="openId" type="hidden" id="openId" th:value="${bd.openId}">
           
            <div class="weui_cell" th:each="student:${bd.listbandings}" >
                <div class="weui_cell_hd"><img src="" alt="" style="width:20px;margin-right:5px;display:block"></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <p>账号：[[${student.studentAccount}]]</p>
                    <p>姓名：[[${student.studentName}]]</p>
                    <p>班级：[[${student.studentClass}]]</p>
                </div>
                <div class="weui_cell_ft weui_cell_primary" th:onclick="${bd.studentAccount eq student.studentAccount}?'':|return setdefault(${student.studentAccount});|" th:text="${bd.studentAccount eq student.studentAccount}?'当前账号':'切换帐号'"></div>
            </div>
            
            
            
            
        </div> 

	<a href="javascript:showmark();" class="weui_btn weui_btn_primary">添加绑定</a>

	<form th:action="@{/wechat/toBinding}" id="regform" method="post">

		<div class="weui-custom-pop">
			<div class="close" onclick="hidemark()">
				<i class="icon icon-95 f25"></i>
			</div>
			<div class="weui-custom-hd">福山外国语小学（家校桥）</div>
			<div class="weui-custom-bd">
				<input type="tel" class="weui_input" id="account" name="account"
					placeholder="帐号">

			</div>
			<div class="weui-custom-bd">
				<input type="password" class="weui_input" id="password"
					name="password" placeholder="密码">
			</div>
			<div class="weui-custom-ft">
				<a href="javascript:hidemark();">取消</a> <a href="javascript:;" id="submit"
					onclick="return formSubmit();">确定</a>
			</div>
		</div>
	</form>
	<script>
		function showmark() {
			$('.weui_mask').addClass('weui_mask_visible');
			$('.weui-custom-pop').addClass('weui-dialog-visible');
		}
		function hidemark() {
			$('.weui_mask').removeClass('weui_mask_visible');
			$('.weui-custom-pop').removeClass('weui-dialog-visible');
		}

		function formSubmit() {
			var account = $("#account").val();
			var password = $("#password").val();
			$("#submit").attr("readonly",true);
			if (account != "" && password != "") {
				$.ajax({
					url : "toBinding",
					type : "post",
					data : "account=" + account + "&password=" + password
							+ "&code=" + getQueryString("code"),
					success : function(data) {
						if (data.status == 200) {
							alert(data.msg)
							window.location.href = "bindManagement?openId="+$("#openId").val();
						}else{
							alert(data.msg);
						}
					},
				});
			} else {
				alert("帐号，或密码不能为空");
			}
		}
		
		//TODO  设置默认账号待完成，通过openid进行设置
		function setdefault(o){
			var openId = $("#openId").val();
			if(o !=""&&openId!=""){
				$.ajax({
					url : "selectAccount",
					type : "post",
					data : "openId="+openId+"&account="+o,
					success : function(data){
						if(data.status == 200){
							alert(data.msg);
							window.location.href="index";
						}else{
							alert(data.msg);
						}
					}
					
				})
				
				
				
			}else{
				alert("页面过期");
			}
			
			
			
		}

		function getQueryString(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			if (r != null)
				return unescape(r[2]);
			return null;
		}
	</script>

</body>
</html>
