<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="public/public_css::pub_css"></head>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<style type="text/css">
canvas#canvas4 {
	position: relative;
	top: 20px;
}
</style>
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="status">&nbsp;</div>
	</div>
	<!-- TOP NAVBAR -->
	<div th:replace="public/public::top"></div>
	<!-- /END OF TOP NAVBAR -->

	<!-- SIDE MENU -->
	<div th:replace="public/public::left(activeUri='school')"></div>
	<!-- END OF SIDE MENU -->

	<!--  PAPER WRAP -->
	<div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">


			<!-- CONTENT -->
			<!--TITLE -->
			<div th:replace="public/public::title"></div>
			<!--/ TITLE -->

			<!-- BREADCRUMB -->
			<div th:replace="public/public::menu"></div>
			<!-- END OF BREADCRUMB -->

			<div class="content-wrap">
				<div class="row">
					<div class="col-sm-12">
						<!-- BLANK PAGE-->
						<div style="margin: -20px 15px;" class="nest" id="Blank_PageClose">
							<div class="title-alt">
								<h6>学生信息</h6>
								<div class="titleClose">
									<a class="gone" href="#Blank_PageClose"> <span
										class="entypo-cancel"></span>
									</a>
								</div>
								<div class="titleToggle">
									<a class="nav-toggle-alt" href="#Blank_Page_Content"> <span
										class="entypo-up-open"></span>
									</a>
								</div>
							</div>


							<div class="body-nest" id="Blank_Page_Content">
								<div class="row">
									<!-- edit form column -->
									<div class="col-md-12 personal-info">
										<form class="form-horizontal" 
											id="studentForm" th:action="@{/student}" method="post">
											<input type="hidden" name="_method" value="put"
												th:if="${student!=null}" /> <input type="hidden" name="id"
												th:if="${student!=null}" th:value="${student.id}">

										<div class="form-group ">
										
										<label class="col-lg-1 control-label">学生姓名:</label>
												<div class="col-lg-6">
													<input class="form-control" id="name" placeholder="请输入学生姓名"
														name="name" th:value="${student!=null}?${student.name}"
														required="required">
												</div>
										</div>
												
										<input type="hidden" name="oldregisterNumber" id="oldregisterNumber"  th:value="${student!=null}?${student.registerNumber}" >
												
												
										<div class="form-group ">
												<label class="col-lg-1 control-label">学籍号:</label>
												<div class="col-lg-6">
													<input class="form-control" id="registerNumber" placeholder="请输入学籍号"
														name="registerNumber" th:value="${student!=null}?${student.registerNumber}" 
														required="required">
												</div>
										</div>
										
						 			 	<div class="form-group ">
												<label class="col-lg-1 control-label">帐号:</label>
												<div class="col-lg-6">
													<input class="form-control" id="account" placeholder="请输入帐号"
														name="account" th:value="${student!=null}?${student.account}" 
														required="required">
												</div>
										</div> 
										
							 			<div class="form-group ">
												<label class="col-lg-1 control-label">密码:</label>
												<div class="col-lg-6">
													<input class="form-control" id="password" placeholder="请输入密码"
														name="password" th:value="${student!=null}?${student.password}" 
														required="required">
												</div>
										</div>  
										
										<div class="form-group ">
												<label class="col-lg-1 control-label">班级学号:</label>
												<div class="col-lg-6">
													<input class="form-control" id="code" placeholder="请输入班级学号"
														name="code" th:value="${student!=null}?${student.code}" 
														required="required">
												</div>
										</div> 
										
									<!-- 	<div class="form-group">
												<label class="col-lg-1 control-label">班级选择：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select id="clazz" name="clazz.id" required="required"
															class="form-control">
															<option value="">---请选择班级---</option>
															<option th:if="${clazzList!=null}" th:value="${clazz.id}"
																th:text="${clazz.clazzYear}+'级'+${clazz.clazzNum}+'班'"
																th:selected="${student!=null&&student.clazz!=null}?${student.clazz.id}==${clazz.id}"
																th:each="clazz:${clazzList}"></option>
															</select>
															</div>
												</div>
									     </div> 
									 	<div class="form-group">
												<label class="col-lg-1 control-label">班主任：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select id="headMaster" name="headMaster.id" 
															class="form-control">
															<option value="">---请选择班主任---</option>
															<option th:if="${teacherList!=null}" th:value="${teacher.id}"
																th:text="${teacher.name}"
																th:selected="${student!=null&&student.headMaster!=null}?${student.headMaster.id}==${teacher.id}"
																th:each="teacher:${teacherList}"></option>
															</select>
															</div>
												</div>
									     </div>
												 -->
										<!-- <div class="form-group">
												<label class="col-lg-1 control-label">副班主任：</label>
												<div class="col-lg-6">
													<div class="ui-select">
														<select id="deputyHeadMaster" name="deputyHeadMaster.id" 
															class="form-control">
															<option value="">---请选择副班主任---</option>
															<option th:if="${teacherList!=null}" th:value="${teacher.id}"
																th:text="${teacher.name}"
																th:selected="${student!=null&&student.deputyHeadMaster!=null}?${student.deputyHeadMaster.id}==${teacher.id}"
																th:each="teacher:${teacherList}"></option>
															</select>
															</div>
												</div>
									     </div>  -->
												
												
											<div class="form-group">
												<label class="col-md-1 control-label"></label>
												<div class="col-md-8">
													<button type="submit" class="btn btn-success"
														th:text="${student!=null?'修改':'添加'}"></button>
													<span></span> <input th:if="${student} eq null"
														class="btn btn-default" value="重置" type="reset">
												</div>
											</div>
										</form>

									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- END OF BLANK PAGE -->

				</div>
			</div>

			<!--/row-->


		</div>
	</div>
	<!--  END OF PAPER WRAP -->
	<!-- 右侧隐藏菜单start -->
	<div th:replace="public/public::right"></div>
	<!-- 右侧隐藏菜单end-->
	<!-- 底部js -->
	<div th:replace="public/public_js::pub_js"></div>
	<div th:replace="public/public_js::public_script"></div>
	<div th:replace="public/public::footer"></div>
	<!-- Jquery Validate -->
	<script type="text/javascript"
		th:src="@{/plugs/validate/jquery.validate.min.js}"></script>
	<script type="text/javascript" 
		th:src="@{/plugs/validate/messages_zh.min.js}"></script>
	<!-- 引入student.js -->
	<script type="text/javascript"    th:inline="javascript" th:src="@{/js/schools/student/student.js}"></script>
    


</body>

</html>
